.skills_main_div {
  background-color: #09000e;
  height: 100vh;
  width: 100vw;
  margin-top: 30px;
}

.skills_header_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

.skill_rows {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 35px;
}

.one_skill_div {
  width: 30vw;
}

.skills_bar {
  height: 10px;
  background-color: blueviolet;
  border-radius: 5px;
}

.seventy_bar {
  width: 21vw;
}

.hundred_bar {
  width: 30vw;
}

.fifty_bar {
  width: 15vw;
}
