.header_div {
  background-color: #09000e;
  height: 10vh;
  width: 90vw;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 30px;
}

.right_div {
  padding-bottom: 10px;
}

.Header_dot {
  color: #7f16ff;
  font-size: 3rem;
}

.center_div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
}

.center_div a:hover {
  color: #7f16ff;
}

.hiremebutton {
  background-color: #7f16ff;
  border-radius: 3px;
  border: none;
  font-size: large;
  padding: 10px;
  color: white;
  width: 100px;
}
